@keyframes cup {
    from {transform: rotate(0deg);}
    33% {transform: rotate(-30deg);}
    66% {transform: rotate(30deg);}
    to {transform: rotate(0deg);}
}
@keyframes heart {
    from {transform: scale(1);}
    50% {transform: scale(0.8);}
    to {transform: scale(1);}
}